@import 'https://unpkg.com/leaflet@1.9.4/dist/leaflet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
}

.leaflet-container {
    height: 100vh;
}

@layer base {
    @font-face {
        font-family: 'Funnel';
        font-style: normal;
        font-display: swap;
        src: url('assets/fonts/FunnelD.ttf') format('truetype');
    }

    h1 {
        @apply text-2xl font-bold;
    }
    h2 {
        @apply text-xl font-bold;
    }

    h3 {
        @apply text-lg font-bold;
    }
}

.bouncing {
    animation: bounce 0.5s infinite;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.yarl__slide_image {
    border-radius: 16px;
}
